.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading{
color:#039be5;
}
.header{
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(54, 119, 240);
  text-align: start;
  padding-left: 40px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 5px;
}
.subject-heading{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  font-size: 30px;
  font-weight: 500;
  color:#039be5
}
.subjects{
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user_name{
  font-weight: 500;
  text-align: left;
  margin-left: 50px;
  font-size: 32px;
  margin-bottom: 60px;
  color:#039be5
}
.bar{
  width: 60%;
  margin: 25px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #282c34;
  background-color: rgb(236, 243, 243);
  text-align: start;
  padding-left: 40px;
  outline: none;
  border: none;
  margin-left: 50px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 10px 10px -10px;
  text-decoration: none;
}

.submission{
  display: flex;
  justify-content: space-around;

}
.submission-details{
  margin-right: 40px;
}

.subject_name_text{
  text-align: center;
  text-decoration: none;
}

.assignment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 50px;
  margin-left: 300px;
  height: 600px;
  width: 800px;
  background-color: #dae4e7;
  border-radius: 5px;
}

.assignment_teacher_view{
  display: flex;
  justify-content: center;
  margin: 50px;
  align-items: center;
  height: 400px;
  width: 600px;
  margin-left: 500px;
  background-color: #dae4e7;
  padding: 0px;
  font-size: 18px;
}
.assignment_form_teacher_view{
  width: 500px;
}
.form_title{
  font-size: 18px !important;
}

.submissions_teacher_view{
  height: max-content;
  width: 1100px;
  margin-left: 300px;
}
.downloadSVG{
  border: none;
  background-color: white;
}

.logout_btn{
  float: right;
  margin-right: 30px;
  margin-top: 0.4rem !important;
}

.createIcon_image{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 5px;
  margin-right: 10px;
}

.create_assignment_text{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 30px;
}